.container {
  margin: 0 25%;
}
a:hover {
  text-decoration: none;
}
#bow {
  text-transform: uppercase;
  font-weight: bold;
}
.acme,
.number-loaves {
  background-image: url('/static/baguettes.png');
  background-position: 0;
  background-size: 100%;
  margin: 15px 0;
  text-align: center;
  padding: 20px;
}
.number-loaves h1 {
  padding: 10px;
  width: 75%;
  margin: auto;
  background-color: lightgray;
  color: lightsalmon;
}
#breadHead h1,
#breadHead h2 {
  line-height: 20px;
}
#content {
  padding: 50px 0;
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#footer ul li {
  display: inline;
}
