{% extends "form.html" %}

{% block formPage %}
<div class=selected-flavor>
  <p>BREAD OF THE WEEK: <span id=bow>{{ flavorName }}</span></p>
</div>
<a href="{{url_for('enter_info',q=1)}}" value="1">
  <div class=number-loaves id="1loaf">
    <h1>1 loaf - $9</h1>
  </div>
</a>
{% for i in range(2,4): %}
  <a href="{{url_for('enter_info',q=i)}}" value="{{ i }}">
  <div class=number-loaves id="{{ i }}loaf">
    <h1>{{ i }} loaves - ${{i*9}}</h1>
  </div>
  </a>
{% endfor %}
</form>
<div class=button>
  <p><a href="bread">Nevermind, go back</a></p>
</div>
{% endblock %}
